{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- <div class="content"> -->
<p id="heading">Sample Page</p>

<div class="container-fluid">
    <div class="row mx-0 my-4 px-0 py-0">
        <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1 mx-0 my-0 px-0 py-0">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 mx-0 my-0 px-0 py-0">
            <div class="display_container">
                <p id="date">Today is {{ time }}</p>
                <img src="{{ uri }}" alt="404">
                <br>
                <a href="/" style="color:aliceblue";>Click here to get random image</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-1 col-xs-10 mx-0 my-0 px-0 py-0">
        </div>
    </div>
</div>

<!-- </div> -->
{% endblock %}